## Librerías

In [1]:
import pandas as pd

## Carga y visualización de datos

In [2]:
ind_3 = pd.read_csv('Datos Reloj 3 - Hoja 1.csv')

In [3]:
ind_3.head()

,Fecha,Tiempo en la cama,Despierto,REM,Ligero,Profundo,Durmiendo,Interrupciones,Conciliacion,Calidad,Unnamed: 10,Pasos día siguiente
0,3-1-24,929.0,14.0,201.0,459.0,214.0,914.0,0.0,14.0,93.0,NaN,11379
1,4-1-24,618.0,43.0,111.0,342.0,42.0,535.0,1.0,15.0,74.0,NaN,12722
2,5-1-24,1018.0,20.0,200.0,447.0,311.0,958.0,0.0,14.0,90.0,NaN,11509
3,6-1-24,427.0,101.0,55.0,204.0,27.0,326.0,2.0,14.0,42.0,NaN,3776
4,7-1-24,551.0,10.0,113.0,147.0,241.0,541.0,0.0,10.0,86.0,NaN,8985

In [4]:
ind_3 = ind_3.drop(columns='Unnamed: 10')

In [5]:
ind_3.describe()

,Tiempo en la cama,Despierto,REM,Ligero,Profundo,Durmiendo,Interrupciones,Conciliacion,Calidad,Pasos día siguiente
count,70.000000,70.000000,70.000000,70.00000,70.000000,70.000000,70.000000,70.000000,70.000000,90.000000
mean,684.685714,29.042857,141.100000,307.40000,154.214286,638.142857,0.757143,10.685714,85.071429,7652.744444
std,128.744612,24.100896,39.568378,84.10387,57.620672,128.780038,0.824194,4.288653,8.861775,3763.533233
min,427.000000,0.000000,38.000000,147.00000,27.000000,326.000000,0.000000,0.000000,42.000000,1286.000000
25%,613.000000,13.250000,117.250000,244.00000,120.000000,541.000000,0.000000,8.000000,83.000000,5305.250000
50%,654.500000,24.000000,133.000000,315.00000,140.500000,626.500000,1.000000,11.000000,89.000000,7437.500000
75%,754.000000,38.750000,146.500000,341.75000,204.750000,718.250000,1.000000,14.000000,91.000000,10103.000000
max,1018.000000,123.000000,254.000000,539.00000,311.000000,958.000000,3.000000,20.000000,94.000000,23203.000000

In [6]:
def convertir_a_segundos(tiempo):
    horas = tiempo // 100
    minutos = tiempo % 100
    segundos = horas * 3600 + minutos * 60
    return segundos

In [7]:
for i in ['Tiempo en la cama', 'Despierto', 'REM', 'Ligero', 'Profundo', 'Durmiendo', 'Conciliacion']:
    ind_3[i] = convertir_a_segundos(ind_3[i])

In [8]:
ind_3.head()

,Fecha,Tiempo en la cama,Despierto,REM,Ligero,Profundo,Durmiendo,Interrupciones,Conciliacion,Calidad,Pasos día siguiente
0,3-1-24,34140.0,840.0,7260.0,17940.0,8040.0,33240.0,0.0,840.0,93.0,11379
1,4-1-24,22680.0,2580.0,4260.0,13320.0,2520.0,20100.0,1.0,900.0,74.0,12722
2,5-1-24,37080.0,1200.0,7200.0,17220.0,11460.0,35880.0,0.0,840.0,90.0,11509
3,6-1-24,16020.0,3660.0,3300.0,7440.0,1620.0,12360.0,2.0,840.0,42.0,3776
4,7-1-24,21060.0,600.0,4380.0,6420.0,9660.0,20460.0,0.0,600.0,86.0,8985

In [9]:
ind_3.rename(columns={'Tiempo en la cama': 'Tiempo en la cama (s)'}, inplace=True)
ind_3.rename(columns={'Despierto': 'Despierto (s)'}, inplace=True)
ind_3.rename(columns={'REM': 'REM (s)'}, inplace=True)
ind_3.rename(columns={'Ligero': 'Ligero (s)'}, inplace=True)
ind_3.rename(columns={'Profundo': 'Profundo (s)'}, inplace=True)
ind_3.rename(columns={'Durmiendo': 'Durmiendo (s)'}, inplace=True)
ind_3.rename(columns={'Conciliacion': 'Conciliación (s)'}, inplace=True)

In [10]:
# Guardamos los datos
ind_3.to_csv('df_sueño_pasos_3.csv')